.Rproj.user
.Rhistory
.RData
.Ruserdata
data/fhv_tripdata_2018-01.csv
data/fhv_tripdata_2018-02.csv
data/fhv_tripdata_2018-03.csv
data/fhv_tripdata_2018-04.csv
data/fhv_tripdata_2018-05.csv
data/fhv_tripdata_2018-06.csv
data/yellow_tripdata_2018-01.csv
data/yellow_tripdata_2018-02.csv
data/yellow_tripdata_2018-03.csv
data/yellow_tripdata_2018-04.csv
data/yellow_tripdata_2018-05.csv
data/yellow_tripdata_2018-06.csv